/* Dropdown Container Styles */
.dropdownContainer {
    position: fixed;
}

.menuIcon {
    height: 3px;
    background-color: #ffffff;
}


.dropdownMenu {
    overflow: hidden;
    width: 200%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff34;
    backdrop-filter: blur(10px);
    border: 1px solid #444444;
    font-family: cursive;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow for a subtle elevation */
}

/* Dropdown Menu Item Styles */
.dropdownMenu li {
    border: 1px solid rgba(223, 220, 220, 0.363);
    padding: 10px;
    color: black;
    cursor: pointer;
    white-space: nowrap;
    height: 5vh;
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

/* Reset Link Styles */
.link-reset {
    display: flex;
    align-items: center;
    text-decoration: none;
    min-width: 134px;
    justify-content: space-between;
}

/* Hover Effect on Dropdown Menu Item */
.dropdownMenu li:hover {
    background-color: #8b8b8b;
}

/* Styling for Icons Inside Dropdown Menu */
.menuItem {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap between icon and text */
}

/* Additional Styles for Icons (Adjust as needed) */
.menuItem svg {
    width: 20px;
    height: 20px;
    fill: #191919; /* Adjust the icon color */
}


@media screen and (max-width: 600px) {
    .dropdownMenu{
        border: 2px solid rgb(106, 106, 106);
    }
    
}

